APP_NAME="BiH Patient Verification"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=bih_db
DB_USERNAME=root
DB_PASSWORD=

# Python OpenCV microservice
PYTHON_SERVICE_URL=http://127.0.0.1:5001

# Sanctum token TTL is set in AuthController (8 hours)
SANCTUM_STATEFUL_DOMAINS=localhost

LOG_CHANNEL=stack
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
